@media only screen and (max-width: 768px) {
  .hero {
    min-height: 95rem;
  }
  .header {
    height: 40rem;
  }
  .voucher {
    background-image: url("/img/voucher-bg-75.png");
  }
}

@media only screen and (max-width: 576px) {
  .hero {
    min-height: 100rem;
  }
}
